---
layout: layouts/base.njk
permalink: /nh3/h6-d4/e6-bg5/f6-bf4/e5-na3/a6-c3/g6/index.html
title: "1. Nh3 h6 2. d4 e6 3. Bg5 f6 4. Bf4 e5 5. Na3 a6 6. c3 g6"
---
<table class="chess">
    <tr>
        <td></td>
        <td><p>6 ... g6</p></td>
    </tr>
</table>