---
layout: layouts/base.njk
permalink: /nh3/h6-d4/e6-bg5/f6-bf4/e5-na3/a6-c3/nc6-nb5-axb5-qd3/index.html
title: "1. Nh3 h6 2. d4 e6 3. Bg5 f6 4. Bf4 e5 5. Na3 a6 6. c3 Nc6 7. Nb5 axb5 8. Qd3"
---
<table class="chess">
    <tr>
        <td></td>
        <td><p>6 ... Nc6 7. Nb5 axb5 8. Qd3</p></td>
    </tr>
</table>