---
layout: layouts/base.njk
permalink: /nf3/f6-nc3/nh6-g4/c6-d4/e6-ng5/f5-e4/bd6/na4/bf4-be3/b6.html
title: "1. Nf3 f6 2. Nc3 Nh6 3. g4 c6 4. d4 e6 5. Ng5 f5 6. e4 Bd6 7. Na4 Bf4 8. Be3 b6"
---
<table class="chess">
  <tr>
    <td></td>
    <td><p></p></td>
  </tr>
</table>