---
layout: layouts/base.njk
permalink: /nf3/f6-nc3/nh6-g4/c6-d4/e6-ng5/f5-e4/g6/rg1/ba3-bxa3/fxg4-bg5/qc7/f3-ng4-qb1/index.html
title: "1. Nf3 f6 2. Nc3 Nh6 3. g4 c6 4. d4 e6 5. Ng5 f5 6. e4 g6 7. Rg1 Ba3 8. bxa3 fxg4 9. Bg5 Qc7 10. f3 Ng4 11. Qb1"
---

