<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzles</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="/"><img class="icon26" src="/images/home.svg" alt="">Homepage</a>
    {{ content | safe }}
</body>
</html>