<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Random</title>
    <link rel="stylesheet" href="/chessground-assets/style.css">
    <link rel="stylesheet" href="/chessground-assets/base.css">
    <link rel="stylesheet" href="/chessground-assets/desktop.css">
    <link rel="stylesheet" href="/chessground-assets/theme.css">
  </head>
<body>
  <a href="/"><img class="icon28" src="/images/home.svg">Homepage</a>
  <div class="grounds">
    <a><span id="ground0" class="ground chess24 gray"></span></a>
  </div>
  <div id="pgn0" class="pgn"></div>
</body>

<script>
  var pgn =  [
    `[Variant "Atomic"] {{ pgn }}`
  ]
</script>
<script src="/random/build/app.js"></script>
	
